aside {
  display: inline-block;
  float: right;
  width: 40%;
  color: black;
  text-align:center;
  padding-top: 20px;
}

%shadow {
  box-shadow: 0 7px 10px #aaa;
}

#no-trans-notification {
  @extend %shadow;
}

#no-loc-notification {
  background: rgba(255,165,0,0.3);
}

.result {
  display: block;
  font-size: 1.2em;
  width: 80%;
  margin: 10px auto;
  padding: 10px 10px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}
  .result:hover {
    @extend %shadow;
    transition-property: box-shadow;
    transition-duration: 0.3s;
  }

.light {
  background-color: rgba(0,255,0,0.1);
}

.medium-light {
  background-color: rgba(0,255,0,0.2);
}

.medium {
  background-color: rgba(0,255,0,0.3);
}

.medium-dark {
  background-color: rgba(0,255,0,0.4);
}

.dark {
  background-color: rgba(0,255,0,0.5);
}