aside {
  display: inline-block;
  float: right;
  width: 40%;
  color: black;
  text-align:center;

  li {
    display: block;
  }
}

#date {
  font-size: 3em;
  letter-spacing: 5px;
  margin-top: 30px;
}