body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fdfdfd;
}

a {
  text-decoration: none;
  color: #fdfdfd;
}

a:hover {
  color: orange;
}

header {
  h2, p {
  font-family: 'Merriweather', serif;
  font-size: 0.9em;
  }
}

nav {
  font-size: 1.3em;
  letter-spacing: 3px;


  p {
    font-size: 0.6em;
    letter-spacing: 5px;
  }
}