body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fdfdfd;
}

a {
  text-decoration: none;
  color: #fdfdfd;
}

a:hover {
  color: orange;
}

header h2 {
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

nav {
  font-size: 1.3em;
}