<header>
  <h1>Welcome to Transaction Mappr!</h1>
  <nav>
    <ul>
      <li><a href="/">CHARGE</a></li>
      <li><a href="/">EARNING</a></li>
      <li><a href="/">BOTH</a></li>
      <li><a href="/">ALL</a></li>
    </ul>
  </nav>
  <h2>This simple app allows us to see correlation between locations of a list of users and the types of transactions they are making.</h2>
  <h2>It uses a sample data set.</h2>
  <input type="date" value="2015-01-25"/>
</header>
<div id="map-canvas"></div>
<aside>
  <div id="date">Date</div>
  <div id="names">Names</div>
  <div id="transaction"></div>
</aside>

<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true">
</script>
