<header>
  <div id="header-info">
  <h1>Welcome to <span>Transaction Mappr!</span></h1>
  <h2>This simple app uses a sample data set to show correlation between users' locations and the types of transactions they are making.</h2>
  <h2><span>Use the slider to adjust the date. Hover the mouse on transaction list items for additional information!</span></h2>
  </div>
  <div id="header-controls">
    <nav>
      <p>FILTER TRANSACTIONS BY TYPE</p>
      <ul>
        <li><a href="/">CHARGE</a></li>
        <li><a href="/">EARNING</a></li>
        <li><a href="/">BOTH</a></li>
        <li><a href="/">ALL</a></li>
      </ul>
    </nav>
    <div id="slider-wrapper"></div>
  </div>
</header>
<div id="map-canvas"></div>
<aside>
  <div id="date">2015-02-22</div>
  <div id="results"></div>
</aside>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=" + ENV['API_KEY']></script>

